.ResultContainer {
  padding: 20px;
}

.ResultPaper {
  padding: 20px;
  flex: 1;
  min-height: 600px;
}

.ResultList {
  width: 250px;
}

.ResultListContainer {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 992px) {
  .ResultContainer {
    padding: 50px;
  }
  .ResultPaper {
    padding: 50px;
  }
}
